/* Colors */
:root {
  --main-color: #3599bf;
  --secondary-color: #e1341e;
  --dark-color: #1c2e47;
  --light-color: #fefefe;
}

/* test */

.btn-info {
  border: none !important;
  border-radius: 5px !important;
}

.btn a {
  color: #fff;
}

.card-img,
.card-img-top {
  height: 50%;
  width: 100%;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  color: #fff;
  background-color: #040b14;
}

.services .muted {
  color: #797979;
}
